#mainPage {
  display: flex;
  justify-content: center;
}

#UserInputPage {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#CVPage {
  background-color: lightblue;
  width: 50%;
}
