body {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;

  min-width: 98vw;
  min-height: 98vh;
}

#root {
  justify-content: center;

  padding: 0;
  margin: 0;

  min-width: 98vw;
  height: 98vh;
}
